.header {
	position: fixed;
	top: 0;
	right: 0;
	background: #F6F8F9;
	width: 100%;
	height: 50px;
	z-index: 100;
}
.logo {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

}
.main-div {
	width: 1160px;
	margin: 0auto;
	position: relative;
	margin: ;
}
.first-block {
	display: inline-block;
	width: 360px;
}
.second-block {
	display: inline-block;
	width: 360px;
}
.third-block {
	display: inline-block;
	width: 360px;

}