.header {
	position: fixed;
	top: 0;
	right: 0;
	background: #F6F8F9;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 17px;
	z-index: 100;
}
.section1 {
	margin-top: 68.4px;
}

.logo {
	vertical-align: middle;
	margin-left: 20px;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 98px;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
}
	
}
.title {
	margin-top: 80px;
}

.main-div {
	width: 1160px;
	margin: 0auto;
	position: relative;
	margin: ;
}
.first-block {
	display: inline-block;
	width: 360px;
}
.image-text {
	position: absolute;
}

.second-block {
	display: inline-block;
	width: 360px;
}
.third-block {
	display: inline-block;
	width: 360px;

}