.font-family {
	 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	background: #F6F8F9;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 17px;
	z-index: 100;
}
.section1 {
	margin-top: 68.4px;
}

.logo {
	font-size: 13;
	font-weight: bold;
	color: #FA6980;
	vertical-align: middle;
	margin-left: 20px;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 98px;
}
.nav-li {
	font-size: 11px;
	font-weight: bold;
	color: #343638;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}
	
.nav-li-image {
	display: inline-block;
	vertical-align: middle;
	padding-left: 48px;
}
.title {
	font-size: 24px;
	font-weight: bold;
	color: #202124;
	margin-top: 80px;
}

.main-div {
	width: 1160px;
	margin: 0 auto;
	
}
.image-div {
	position: relative;

}
.first-block {
	display: inline-block;
	width: 360px;
	margin-right: 40px;
}

.second-block {
	display: inline-block;
	width: 360px;
	margin-right: 40px;
}
.third-block {
	display: inline-block;
	width: 360px;

}
.image-text {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	position: absolute;
	top: 28px;
	left: 40px;
}
.text-lorem {
	font-size: 13px;
	font-weight: regular;
	color: #A6ADB4;
}
.nexttotime {
	font-size: 13px;
	font-weight: regular;
	color: #A6ADB4;
	display: inline-block;
	vertical-align: middle;
}
.time-logo {
	display: inline-block;
}
.left-block-image {
	position: relative;
}
.left-block-text {
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	transform: translate(50% -50%);
}
.left-block {
	display: inline-block;
	width: 760px;
}
.right-block {
	display: inline-block;
	width: 360px;

}